.button {
  padding: 0;
  color: var(--color-primary-inverted);
  background: transparent;
  border: 0;
  box-shadow: none;
}

.icon {
  font: inherit;
}

.primary {
  padding: 2px 12px;
  color: var(--color-primary-inverted);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary-inverted);
}
