@import './variables.css';
@import './reset.css';
@import './theme.dark.css';
@import './theme.light.css';

.app {
  font: var(--font-m);
  background: var(--color-background);
  color: var(--color-primary);

  min-height: 100vh;
}

.pageWrapper {
  margin: 0;
  display: flex;
}

.page {
  padding: 20px;
  flex: 1;
}
