[data-theme='light'] {
  --color-background: #fff;
  --color-background-inverted: #052640;
  --color-primary: #244165;
  --color-secondary: #1367c5;
  --color-primary-inverted: #fff;
  --color-secondary-inverted: #97aaba;
}
