[data-theme='dark'] {
  --color-background: #052640;
  --color-background-inverted: #fff;
  --color-primary: #fff;
  --color-secondary: #97aaba;
  --color-primary-inverted: #244165;
  --color-secondary-inverted: #1367c5;
}
