[data-theme='dark'] {
  --color-background: #052640;
  --color-background-inverted: #ffffff;
  --color-primary: #ffffff;
  --color-secondary: #97AABA;
  --color-primary-inverted: #244165;
  --color-secondary-inverted: #1367C5;
}
